<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.only.yc.only_onez">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/r_four"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/r_four"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/Login_name" />
        <activity
            android:name=".Entry"
            android:label="@string/Entry_name" />
        <activity
            android:name=".Index"
            android:label="@string/app_name" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".words"
            android:label="@string/Words_name" />
        <activity
            android:name=".Modify"
            android:label="@string/Modify_name" />
        <activity
            android:name=".search"
            android:label="@string/search_name" />
        <activity android:name=".UserBirthday"></activity>
    </application>

</manifest>